<div class="flex justify-center items-center">
  <div
    class="w-[600px] min-h-[300px] rounded-lg shadow-lg shadow-indigo-400 p-[20px]"
  >
    <h1 class="text-[40px] text-center mb-[10px] mt-[10px] font-semibold text-red-500">
      {{todo.title}}
    </h1>
    <p class="text-[20px] mb-[10px]">
      {{todo.description}}
    </p>
    <p *ngIf="!todo.completed"
      class="bg-red-300 text-red-800 text-lg text-center font-medium w-[200px] m-auto mt-[40px] px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
      >Do it now.</p
    >
    <p *ngIf="todo.completed"
      class="bg-green-300 text-green-800 text-lg text-center font-medium w-[200px] m-auto mt-[40px] px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
      >I knew you'll do it.</p
    >
  </div>
</div>
