<div id="root">
  <nav id="navbar" class="p-[10px] pr-5 pl-[20px] flex justify-between">
    <h1 class="text-[30px] text-white">Just do it.</h1>
    <div class="flex gap-[10px] mr-[20px]">
      <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center">Login</button>
      <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-lg px-5 py-2.5 text-center">Signup</button>
    </div>
  </nav>

  <div id="main">
    <h1 id="heading">Just do it.</h1>
    <router-outlet></router-outlet>
  </div>

  <footer id="footer" class="p-[10px] bg-slate-400 flex gap-[10px] items-center justify-center">
    <a href="https://github.com/shatrukumar47/Just-Do-It" target="_blank" class="text-[25px] hover:text-pink-600 ml-[20px] cursor-pointer">
      <i class="fa-brands fa-github"></i>
    </a>
    <p class="text-md">shatrukumar47@gmail.com</p>
  </footer>
</div>